RewriteEngine on
RewriteCond $1 !^(index\.php|blog|wiki|images|templates|css|js|auth.php|check_version.php|get_new_uid.php|get_type\.php|get_types\.php|get_uid\.php|getList\.php|github\.webhooks.php|init_new_user_db\.php|merorize\.apk|method\.php|saveItem\.php|saveType\.php|sync_type\.php|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]